@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin-left: 15vh;
    margin-right: 30vh;
    font-family: "Roboto";
    background-color: rgb(155, 181, 184);
}

button {
    background-color: #73aaaf;
    padding: 1vh;
    font-size: 1.3vh;
    border: 0.3vh solid;
    cursor: pointer;
}

button:hover {
    background-color: rgb(136, 220, 228);
}

.box {
    display: flex;
    background-color: #618e92;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    padding: 1.5vh;
}